<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">
    <insert id="create" parameterType="mapper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_url.mapper (
            original,
            creation
        )
        VALUES (
            #{original},
            #{creation}
        );
    </insert>
    <select id="queryMapperByCreation" parameterType="String" resultType="mapper">
        select *
        from db_url.mapper
        WHERE creation = #{creation}
    </select>
    <select id="getMapperByOriginal" parameterType="String" resultType="mapper">
        select *
        from db_url.mapper
        WHERE original = #{original}
    </select>
</mapper>